 <aside class="app-sidebar" role="navigation" aria-label="Main navigation">
    <a href="/pages/dashboard.html" class="sidebar-logo">DisciNet</a>
    <nav>
        <ul>
            <li><a href="/pages/dashboard.html" class="sidebar-link active" data-page="dashboard"><i class="icon-dashboard"></i> Dashboard</a></li>
            <li><a href="/pages/deposit.html" class="sidebar-link" data-page="deposit"><i class="icon-deposit"></i> Deposit</a></li>
            <li><a href="/pages/withdraw.html" class="sidebar-link" data-page="withdraw"><i class="icon-withdraw"></i> Withdraw</a></li>
            <li><a href="/pages/transfer.html" class="sidebar-link" data-page="transfer"><i class="icon-transfer"></i> Transfer</a></li>
            <li><a href="/pages/bills.html" class="sidebar-link" data-page="bills"><i class="icon-bills"></i> Pay Bills</a></li>
            <li><a href="/pages/mobile.html" class="sidebar-link" data-page="mobile"><i class="icon-mobile"></i> Mobile Credit</a></li>
            <li><a href="/pages/fees.html" class="sidebar-link" data-page="fees"><i class="icon-fees"></i> Pay Fees</a></li>
            <li><a href="/pages/settings.html" class="sidebar-link" data-page="settings"><i class="icon-settings"></i> Settings</a></li>
        </ul>
    </nav>
</aside>
