 <nav class="tabbar" role="navigation" aria-label="Mobile navigation">
    <a href="/pages/dashboard.html" class="tabbar-link active" data-page="dashboard">
        <i class="icon-dashboard"></i>
        <span>Dashboard</span>
    </a>
    <a href="/pages/transfer.html" class="tabbar-link" data-page="transfer">
        <i class="icon-transfer"></i>
        <span>Transfer</span>
    </a>
    <a href="/pages/cards.html" class="tabbar-link" data-page="cards">
        <i class="icon-cards"></i>
        <span>Cards</span>
    </a>
    <a href="/pages/settings.html" class="tabbar-link" data-page="settings">
        <i class="icon-settings"></i>
        <span>Settings</span>
    </a>
</nav>
